# Dependencies
node_modules/
.pnp
.pnp.js

# Testing and Coverage
coverage/
.nyc_output/

# Next.js build output
.next/
out/
build/
dist/
*.tsbuildinfo

# Environment Variables
.env*
!.env.example

# Debug and Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# System and Editor files
.DS_Store
*.pem
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.gemini/

# Drizzle Kit cache
.drizzle/
